/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-cyan: 176 50% 47%;
    --clr-darkCyan: 176 72% 28%;
    --clr-black: 0 0% 0%;
    --clr-darkGray: 0 0% 48%;

    /* font-sizes */
    --fs-900: 2rem;
    --fs-800: 1.25rem;
    --fs-700: 1.125rem;
    --fs-600: 1rem;
    --fs-500: 0.875rem;
}

@media (min-width: 745px) {
    :root {
        --fs-800: 1.5rem;
        --fs-700: 1.25rem;
    }
}

@media (min-width: 45rem) {
    :root {
        /* font-sizes */
        --fs-900: 2rem;
        --fs-800: 1.75rem;
        --fs-700: 1.5rem;
        --fs-600: 1.125rem;
        --fs-500: 1rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: 'Commissioner', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url(./images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    overflow-x: hidden;

}

@media (max-width: 374px) {
    body {
        background-size: auto;
        background-position: top bottom;
    }
}

@media (min-width: 786px) {
    body {
        background-image: url(./images/image-hero-desktop.jpg);
    }
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.text-black { color: hsl( var(--clr-black) );}
.text-gray { color: hsl( var(--clr-darkGray) );}
.text-cyan { color: hsl( var(--clr-cyan) );}

/* typography */

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* primary header */

.primary-header {
    justify-content: center;
    padding-top: 2rem;
    padding-inline: 1.5rem;
    height: 8rem;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    margin-bottom: 10.5rem;
}

@media (min-width:786px) {
    .primary-header {
        justify-content: space-between;
        padding-inline: 10.375rem;
        padding-top: 0;
        align-items: center;
        margin-bottom: 5rem;
    }
}

.logo {
    position: absolute;
    left: 1.5rem;
    width: 128px;
    height: 20px;
}

@media (min-width: 786px) {
    .logo {
        position: initial;
    }
}

.mobile-nav-toggle {
    background: url(./images/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1rem;
    aspect-ratio: 1;
    border: none;
    position: absolute;
    top: 35px;
    right: 1.5rem;
}

nav {
    margin-top: 2.25rem;
    z-index: 10000;
}

@media (min-width: 786px) {
    nav {
        margin-top: 0;
    }
}

.primary-navigation {
    flex-direction: column;
    list-style: none;
    transform: translateY(-300%);
    transition: transform 500ms ease-in-out;
    padding-inline-start: 0;
}

.primary-navigation-toggle {
    transform: translateY(0%);
    transition: transform 500ms ease-in-out;
    background: white;
    width: 327px;
    height: 212px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.primary-navigation a {
    color: hsl( var(--clr-black) );
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 2.5rem;
}

.separator {
    width: 100%;
    background: #2F2F2F;;
    opacity: .1;
}

@media (min-width: 786px) {
    .mobile-nav-toggle {
        display: none;
    }

    .primary-navigation {
        flex-direction: row;
        transform: translateY(0%);
    }

    .primary-navigation a {
    color: white;
    font-size: 13px;
    line-height: 16px;
    }

    .separator {
        display: none;
    }
}


/* Main */

.main {
    background: #FAFAFA;
}

.sections {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    margin-inline: 1.5rem;
    padding-bottom: 2.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

@media (min-width:786px) {
    .sections {
        margin-inline: auto;
        max-width: 730px;
    }
}

.heading-section {
    position: relative;
    top: -3rem;
    margin-bottom: -1.5rem;
}

.mastercraft {
    margin-inline: auto;
    position: relative;
    top: -28px;
}

.heading-section h1 {
    font-weight: 700;
    line-height: 24px;
    padding-inline: 4rem;
}

.heading-section p {
    padding: 1.5rem;
}

.heading-section div {
    padding-inline: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    background: hsl( var(--clr-cyan) );
    color: white;
    width: 214px;
    height: 56px;
    border: none;
    border-radius: 33.5px;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
    display: inline;
}

.back-btn:hover {
    background: hsl( var(--clr-darkCyan) );
}

.back-btn:active {
    transform: translateY(2px);
}

.bookmark-btn {
    display: inline;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    padding-inline: 0;
}

@media (min-width: 786px) {
    .bookmark-btn span {
        position: relative;
        top: -40px;
        left: 20px;
    } 
}

.bookmark-btn-background {
    background: #eaf3f2;
}
    
.bookmark-btn:hover {
   opacity: .6;
}

.bookmark-btn-svg {
    filter: invert(36%) sepia(96%) saturate(388%) hue-rotate(127deg) brightness(86%) contrast(88%);
}

@media (min-width:786px) {
    .bookmark-btn {
        width: 214px;
        height: 56px;
        border-radius: 33.5px;
        line-height: 20px;
        font-weight: 700;
        background-repeat: no-repeat;
    }
}

.bookmark-btn-text {
    color: hsl( var(--clr-darkCyan) );
}

/*     Numbers Section    */

.data-numbers {
    padding-inline: 3rem;
}

.total-backed {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2rem;
}

@media (min-width: 786px) {
    .total-backed {
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
        column-gap: 2.625rem;
    }
}

.total-backed h2 {
    font-weight: 700;
    line-height: 39px;
    margin-bottom: .5rem;
}

.numbers-separator {
    background: #000000;
    opacity: 0.15;
    height: 1px;
    width: 80px;
    align-self: center;
}

@media (min-width: 786px) {
    .numbers-separator {
        height: 63px;
        width: 1px;
    }
}

.progress-bar-container {
    background: #ebe9e9;
    height: 12px;
    border-radius: 6px;
    margin-top: 2rem;
}

.progress-bar {
    background: hsl( var(--clr-cyan) ) !important;
    border-radius: 6px;
    height: 12px;
    width: 89.914%;
}

/*     About Section  + Pledges  */

.about {
    text-align: left;
    padding-top: 2.5rem;
    padding-inline: 1.5rem;
}

.about h3 {
    font-weight: 700;
    line-height: 22px;
}

.aboutHeading, .aboutParagraph {
    margin-bottom: 1.5rem;
}
.pledges {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 35px;
}

.pledges h4, .pledges label {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.pledge-heading, .pledge-heading-modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    row-gap: .5rem;
}

@media (min-width: 786px) {
    .pledge-heading {
        flex-direction: row;
        justify-content: space-between;
    }

    .pledge-heading-modal {
        flex-direction: row;
    }
}

.pledge-heading p {
    font-weight: 400;
    line-height: 24px;
}

.pledge-1, .pledge-2 {
    margin-bottom: 1.5rem;
}

.pledge-select {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-top: 1.5rem;
}

@media (min-width: 786px) {
    .pledge-select {
        flex-direction: row;
        justify-content: space-between;
    }
}

.pledge-select p {
    align-items: center;
    column-gap: .5rem;
}

.pledge-select button {
    width: 157px;
    height: 48px;
    background: #3CB3AB;
    border-radius: 33.5px;
    border: none;
    color: white;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
}

.pledge-select button:hover {
    background: hsl( var(--clr-darkCyan) );
}

.pledge-select button:active {
    transform: translateY(2px);
}

.noStockBtn {
    background: #2F2F2F !important;
}

.pledge-3 {
    opacity: .5;
}

/*    Modal Section */

.modal {
    position: absolute;
    top: 7.5625rem;
    box-shadow: 0px 0px 200px 100vh rgba(0,0,0,0.5);
    display: none;
}

@media (min-width: 786px) {
    .modal {
        left: 0;
        right: 0;
        padding-inline: 3rem;
    }
}

.modal img {
    position: relative;
    top: .4rem;
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.modal-header {
    justify-content: space-between;
}

.labels {
    position: relative;
}

.labels input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 2rem;
}

.labels:hover .checkmark {
    border-color: hsl( var(--clr-cyan) );
  }

  .labels:hover {
    color: hsl( var(--clr-cyan) );
}

.labels input:checked ~ .checkmark:after {
    display: block;
  }

.labels .checkmark:after {
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: hsl( var(--clr-cyan) );
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background-color: hsl( var(--clr-cyan) );
  }

.modalCyan {
    margin-left: 2.5rem;
}

@media (min-width: 786px) {

    .pledge-1, .pledge-2, .pledge-3 {
        position: relative;
    }

    .nbr-left-modal {
        position: absolute;
        top: 10px;
        right: 28px;
    }
}

.number {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 39px;
}

.pledge-entering {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid hsla( var(--clr-darkGray) / .3);
    text-align: center;
    display: none;
    flex-direction: column;
}

.pledge-entering label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 1rem;
}

.pledge-entering input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 33.5px;
    width: 100px;
    height: 48px;
    text-indent: 1rem;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.currency::before {
    position: relative;
    content: "$";
    left: 30px;
    color: hsla( var(--clr-darkGray) / .5);
}

.currency button {
    width: 115px;
    height: 48px;
    background: #3CB3AB;
    border-radius: 33.5px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

.currency button:hover {
    background: hsl( var(--clr-darkCyan) );
}

.currency button:active {
    transform: translateY(2px);
}

@media (min-width: 786px) {
    .pledge-entering {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .pledge-entering label {
        display: inline;
    }

    .pledge-entering input {
        margin-bottom: 0;
    }

    .currency {
        display: inline;
    }
}